Package: chonos-wsl-installer
Version: 0.0.7
Priority:
Architecture: all
Essential:
Depends: openssh-server, sudo, jq
Pre-depends: chonos-sysconfig (>= 2.0.0), chonos-embeddedmas (>= 1.2.1), chonos-ddnsmng (>= 1.5.6)
Suggests:
Installed-Size:
Maintainer: chon@grupo.cefet-rj.br
Conflicts: chonos, choncloud, chonide
Replaces:
Provides:
Description: Meta package that provide the ChonOS to Windows Subsystem for Linux.
